body{
     width: 100%;
     height: 100%;
     color: #222222;
     font-weight: 300;
     overflow: auto;
}
span{
     color: #222222;
}
li{
     vertical-align: middle;
}
.wrap{
     /* max-width: 1280px; */
     margin: 0 auto;
}

/* GNB */
nav{
     height: 50px;
     display: flex;
     justify-content: space-between;
     align-items:center;
     padding: 0 20px;
}
nav .name{
     display: flex;
     align-items: center;
     gap: 1rem;
     font-weight: 600;
}
nav .contact{
     height: 100%;
     display: flex;
     align-items: center;
     gap: 8px;
}

/* 콘텐츠 */
.contents{
     width: 100%;
     height: 100%;
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
}
.contents section{
     width: 100%;
     height: 100%;
     min-height: 600px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.pl{
     min-height: 600px;
     height: 100%;
     background-color: pink;
     text-align: center;
     border-bottom: 1px solid;
}

/* contacts */
.contacts{
     display: flex;
     gap: 16px;
}
.contacts > div{
     display: flex;
     align-items: center;
     gap: 6px;
}
.contacts > div > a{
     padding: 6px 20px;
     display: flex;
     align-items: center;
     gap: 6px;
     background-color: #e0e0e0;
     border-radius: 30px;
}

.contacts > div > a:hover{
     background-color: #222222;
     color: #ffffff;
}

.contacts > div > a > .blog-ico{
     display: inline-block;
     background-image: url(./source/article_FILL0_wght400_GRAD0_opsz24.png);
     background-size: contain;
     background-repeat: no-repeat;
     width: 16px;
     height: 16px;
}
.contacts > div > .email-ico{
     display: inline-block;
     background-image: url("/source/mail_FILL0_wght400_GRAD0_opsz24.png");
     background-repeat: no-repeat;
     background-size: contain;
     width: 16px;
     height: 16px;
}